/** this is place holder for css **/ 


.rightside {
    height: 200vh;
    width: 50%;
    float: right;
    background: rgb(160, 133, 133);

}

.leftside {
    height: 200vh;
    width: 50%;
    float: left;
    background: rgb(160, 133, 133);

}



h1 {
    color: white;
    margin-left: 20px;
    background: black;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}


button {
    margin-left: 20px;
    background-color: rgb(102, 138, 113);
    padding: 15px 30px;
    font-size: 15px;
    font-variant-caps: small-caps;
    color: white;
    cursor: pointer;
    width: 200px;
} 



img.center {

    display: block;
    margin-left: 20px;
    margin-top: 10px;
    height: 475px;
    width: 350px;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
    

} 


/**.box {
    display: none;
    height:500px;
    width: 360px;
    background-color: peachpuff;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}**/

