/** this is place holder for css **/ 


    body { 
   font-family: 'Montserrat', sans-serif;

} 

.rightside { 
    height: 1050px;
    width: 50%;
    float: right;
    background: rgb(160, 133, 133);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
    padding-top: 50px;
    

}

.leftside { 
    height: 1100px;
    width: 50%;
    float: left;
    background: rgb(160, 133, 133);


}



h1 {
    color: white;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: black;
    
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}


button {
    margin-left: 20px;
    background-color: rgb(102, 138, 113);
    padding: 15px 30px;
    font-size: 15px;
    font-variant-caps: small-caps;
    color: white;
    cursor: pointer;
    width: 200px;
} 



img.center {

    display: block;
    margin-left: 20px;
    margin-top: 10px;
    height: 475px;
    width: 350px;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
    

} 

#footer {
    padding-top: 1150px;
    text-align: center;
    background-color: bisque;

    
}


