/** this is place holder for css **/ 

button {background-color: rgb(82, 60, 97);
padding: 15px 30px;
font-size: 15px;
font-variant-caps: small-caps;
color: white;
cursor: pointer;
} 

img {height: 475px;
width: 350px;
padding: 20px 20px 20px 20px;
border: 5px solid black;
}

.box{height:50px;
    width: 360px;
    background-color: peachpuff;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

